#!upstart

description "Start uwsgi for {{wsgi_project_name}}"

start on (local-filesystems and runlevel [2345])
stop on runlevel [!2345]

# expect fork
respawn

limit nofile 65536 65536
console log
chdir {{wsgi_app_dir}}
setuid {{wsgi_user}}

{% if wsgi_virtualenv %}
exec {{wsgi_virtualenv}}/bin/uwsgi --ini {{wsgi_cfg_dir}}/uwsgi.ini
{% else %}
exec /usr/local/bin/uwsgi --ini {{wsgi_cfg_dir}}/uwsgi.ini
{% endif %}

